
{% extends "layout.html" %}
{% block content %}
<head>
    <!--
        Here we setup the necessary parameters and include css files.
        There is no need for you to understand what is going on here, because i do not.
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Image folder</title>
    <!--<link rel="stylesheet" href="/static/css/bootstrap_maxcdn.min.css">-->
    <link href="/static/css/google_font.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/baguetteBox.min.css">
    <link rel="stylesheet" href="/static/imageViewer.css">
</head>

<body>
<div class="container gallery-container">

    <!--<h1>Image gallery</h1>-->
    <p class="page-description text-center">Thumbnails With Title And Description</p>
    <div class="tz-gallery">
        <div class="row" id="row">
        </div>
    </div>
</div>
<script type="text/javascript">

    let subfolders = JSON.parse('{{ folders | tojson}}'); //List with all the names of all subfolders in /static/images.
    let filename = JSON.parse('{{ images | tojson}}'); //2D list with all the filenames in all the subfolders.
    let chosenFolder = JSON.parse('{{chosenFolder | tojson}}'); //Variable with the index nr. for the chosen subfolder.
    let xml_list = JSON.parse('{{xml_list | tojson}}'); //Variable that contains all the xml data.
    console.log(xml_list)
    console.log(subfolders)
    console.log(filename)

    for(let i = 0; i < filename[chosenFolder].length; i++) {//We now "build" the html page depending on the chosen
        const para1 = document.createElement("div"); //Define a "div element"
        para1.className = ("col-sm-6 col-md-4"); //Define the style class.
        para1.id = ("col"+i); //Define a ID to the element.
        const element1 = document.getElementById("row"); //We define the element that we want to append our new element under.
        element1.appendChild(para1); //We now append our new element under the old element.
        
        const para2 = document.createElement("div");
        para2.className = ("thumbnail");
        para2.id = ("thumbnail" + i);
        const element2 = document.getElementById("col"+i);
        element2.appendChild(para2);
        
        const para3 = document.createElement("a");
        para3.className = ("lightbox");
        para3.id = ("lightbox"+i);
        para3.href = ("/static/images/"+ subfolders[chosenFolder] + "/" + filename[chosenFolder][i]);
        const element3 = document.getElementById("thumbnail"+i);
        element3.appendChild(para3);

        const para4 = document.createElement("img");
        para4.className= ("card-img-top");
        para4.id = ("img"+i);
        para4.src = ("/static/images/"+ subfolders[chosenFolder] + "/" + filename[chosenFolder][i]);
        para4.alt = ("Rails");
        const element4 = document.getElementById("lightbox"+i);
        element4.appendChild(para4);

        const para5 = document.createElement("div");
        para5.className = ("caption");
        para5.id = ("caption"+i);
        const element5 = document.getElementById("thumbnail"+i);
        element5.appendChild(para5);

        const para6 = document.createElement("h3");
        const node6 = document.createTextNode(filename[chosenFolder][i]);
        para6.appendChild(node6);
        const element6 = document.getElementById("caption"+i);
        element6.appendChild(para6);

        const para7 = document.createElement("p");
        const node7 = document.createTextNode("Camera exposure time: " + xml_list[i]["Profiles"]["CameraProfile"]["exp_time"]);
        para7.appendChild(node7);
        const linebreak = document.createElement('br');
        para7.appendChild(linebreak);
        const node7_extra = document.createTextNode("Camera gain: " + xml_list[i]["Profiles"]["CameraProfile"]["gain"]);
        para7.appendChild(node7_extra)
        const element7 = document.getElementById("caption"+i);
        element7.appendChild(para7);

        const para9 = document.createElement("div");
        para9.className = ("btn-group");
        para9.id = ("btn-group"+i);
        const element9 = document.getElementById("caption"+i);
        element9.appendChild(para9);

        const para10 = document.createElement("button");
        para10.type = ("button");
        para10.id = ("button"+i)
        para10.className = ("btn btn-sm btn-outline-secondary");
        para10.onclick = function(){showModal(chosenFolder,i)};
        const node10 = document.createTextNode("View");
        para10.appendChild(node10);
        const element10 = document.getElementById("btn-group"+i);
        element10.appendChild(para10);

        const para11 = document.createElement("button");
        para11.type = ("button");
        para11.className = ("btn btn-sm btn-outline-secondary");
        const node11 = document.createTextNode("Edit");
        para11.appendChild(node11);
        const element11 = document.getElementById("btn-group"+i);
        element11.appendChild(para11);

    }

    </script>
<script>
    var modalWrap = null
    //var tekst = "This is a test test"
    const showModal=(chosenFolder, i) =>{
        if(modalWrap !== null){
            modalWrap.remove();
        }
        var main_title = filename[chosenFolder][i];
        var tekst =
        "<br> 0 = off, except for position and rotation of robot arms." +
        "<br>" + 
        "<br> Camera gain: " + xml_list[i]["Profiles"]["CameraProfile"]["gain"] +
        "<br> Camera focus: " + xml_list[i]["Profiles"]["CameraProfile"]["focus"] +
        "<br> Camera exposure time: " + xml_list[i]["Profiles"]["CameraProfile"]["exp_time"] +
        "<br> Camera flash color: " + xml_list[i]["Profiles"]["CameraProfile"]["flash_c"] +
        "<br> Camera chromatic lock:  " + xml_list[i]["Profiles"]["CameraProfile"]["chrom_L"] +
        "<br> Camera IR filter: " + xml_list[i]["Profiles"]["CameraProfile"]["ir"] +
        "<br>"+
        "<br> Light bar exposure time: " + xml_list[i]["Profiles"]["barLightProfile"]["exp_time"]+
        "<br> Light bar flash color: " + xml_list[i]["Profiles"]["barLightProfile"]["flash_c"]+
        "<br> Light bar angle: " + xml_list[i]["Profiles"]["barLightProfile"]["angle"]+ "<br>" +
        "<br> Backlight exposure time: " + xml_list[i]["Profiles"]["backlightProfile"]["exp_time"]+
        "<br> Backlight flash color: " + xml_list[i]["Profiles"]["backlightProfile"]["flash_c"] +
        "<br>" + 
        "<br> Camera arm x position: " + xml_list[i]["Profiles"]["CameraPosProfile"]["xPos"] + 
        "<br> Camera arm y position: " + xml_list[i]["Profiles"]["CameraPosProfile"]["yPos"] + 
        "<br> Camera arm z position: " + xml_list[i]["Profiles"]["CameraPosProfile"]["zPos"] +
        "<br> Camera arm yaw rotation: " + xml_list[i]["Profiles"]["CameraPosProfile"]["yaw"] + 
        "<br> Camera arm pitch rotation: " + xml_list[i]["Profiles"]["CameraPosProfile"]["pitch"] + 
        "<br> Camera arm roll rotation: " + xml_list[i]["Profiles"]["CameraPosProfile"]["roll"] + 
        "<br>" + 
        "<br> Light bar arm x position: " + xml_list[i]["Profiles"]["barLightPosProfile"]["xPos"] + 
        "<br> Light bar arm y position: " + xml_list[i]["Profiles"]["barLightPosProfile"]["yPos"] + 
        "<br> Light bar arm z position: " + xml_list[i]["Profiles"]["barLightPosProfile"]["zPos"] +
        "<br> Light bar arm yaw rotation: " + xml_list[i]["Profiles"]["barLightPosProfile"]["yaw"] + 
        "<br> Light bar arm pitch rotation: " + xml_list[i]["Profiles"]["barLightPosProfile"]["pitch"] + 
        "<br> Light bar arm roll rotation: " + xml_list[i]["Profiles"]["barLightPosProfile"]["roll"]; 
        
        modalWrap = document.createElement("div");
        modalWrap.innerHTML = `
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">`+ main_title +`</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
         `+ tekst + `
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn myButton begintest ">Save changes</button>
                    </div>
                </div>
            </div>
        </div>      
        `;
        document.body.append(modalWrap);
        var modal = new bootstrap.Modal(modalWrap.querySelector('.modal'));
        modal.show();
    
    }
</script>

<script src="/static/js/imageViewer/baguetteBox.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
{% endblock %}



