{% extends "layout.html" %}
{% block content %}
<!--
  This file is responsible for the dynamic folder generation.
  So far it is controlled by a for loop, bu soon it will be changed to the amount of folders with tests.

  In simplicity the script just creates the some small windows again and again, denpending on how many will need to be made.
  The design is based on https://getbootstrap.com/docs/5.1/examples/album/
  
  I have only written comments for the first element, because it is pretty much the same that happens for all the elements.

  TODO:
  - Change the para and element variables with names that fit the content they represent.
  - Fix the svg-text so it is in the middle of the frame.
  - Define for loop iterations on how many image folders that exist.
  - Redirect view button to the image folder.
  - Make a delete button.
  - Make a download button.
-->

<div class="main">
  <div class="album py-5 bg-light">
    <div class="container" id="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="row">


      </div>
    </div>
  </div>
</div>
<script>
 for(let i = 0; i < 4; i++) {

    const para1 = document.createElement("div"); //Define a "div element"
    para1.className = ("col"); //Define the style class.
    para1.id = ("col"+i); //Define a ID to the element.
    const element1 = document.getElementById("row"); //We define the element that we want to append our new element under.
    element1.appendChild(para1); //We now append our new element under the old element.

    const para2 = document.createElement("div");
    para2.className = ("card shadow-sm");
    para2.id = ("card"+i);
    const element2 = document.getElementById("col"+i);
    element2.appendChild(para2);

    const para3 = document.createElementNS("http://www.w3.org/2000/svg", "svg"); //For all svg element we will have to define the with a namespace.
    para3.className = ("bd-placeholder-img card-img-top");
    //Here we define different attributes for the specific element.
    para3.setAttribute("width", "100%");
    para3.setAttribute("height", "225");
    para3.setAttribute("role", "img");
    para3.setAttribute("aria-label", "Placeholder: Thumbnail");
    para3.setAttribute("preserveAspectRatio", "xMidwYMid slice");
    para3.setAttribute("focusable", "false");
    para3.id = ("placeholder"+i);
    const element3 = document.getElementById("card"+i);
    element3.appendChild(para3);

    const para5 = document.createElementNS("http://www.w3.org/2000/svg", "rect"); 
    para5.id = ("rect"+i);
    const element5 = document.getElementById("placeholder"+i);
    element5.appendChild(para5);
    para5.setAttribute("width", "100%");
    para5.setAttribute("height", "100%");
    para5.setAttribute("fill", "#55595c");

    const para6 = document.createElementNS("http://www.w3.org/2000/svg", "text");;
    para6.setAttribute("x", "50%");
    para6.setAttribute("y", "50%");
    para6.setAttribute("fill", "#eceeef");
    para6.setAttribute("dy", ".3em");
    const node6 = document.createTextNode("Thumbnail");
    para6.appendChild(node6);
    const element6 = document.getElementById("placeholder"+i);
    element6.appendChild(para6);

    const para7 = document.createElement("card-body");
    para7.className = ("card-body");
    para7.id = ("cardbody" + i);
    const element7 = document.getElementById("card"+i);
    element7.appendChild(para7);

    const para8 = document.createElement("div");
    para8.className = ("d-flex justify-content-between align-items-center");
    para8.id = ("d-flex" + i);
    const element8 = document.getElementById("cardbody"+i);
    element8.appendChild(para8);

    const para9 = document.createElement("div");
    para9.className = ("btn-group");
    para9.id = ("btn-group"+i);
    const element9 = document.getElementById("d-flex"+i);
    element9.appendChild(para9);

    const para10 = document.createElement("button");
    para10.type = ("button");
    para10.className = ("btn btn-sm btn-outline-secondary");
    const node10 = document.createTextNode("View");
    para10.appendChild(node10);
    const element10 = document.getElementById("btn-group"+i);
    element10.appendChild(para10);

    const para11 = document.createElement("button");
    para11.type = ("button");
    para11.className = ("btn btn-sm btn-outline-secondary");
    const node11 = document.createTextNode("Edit");
    para11.appendChild(node11);
    const element11 = document.getElementById("btn-group"+i);
    element11.appendChild(para11);
  }
  </script>
{% endblock %}
