{% extends "layout.html" %}
{% block content %}

<div class="form-check form-switch form-switch-md">
    <input class="form-check-input" type="checkbox" name="Cameralight" id="Cameralight" data-bs-toggle="collapse" href="#collapseCameraLight" aria-expanded="false" value="on">
    <label class="form-check-label" for="Cameralight">Camera light</label>
  </div>
  <div class="collapse" id="collapseCameraLight">
    <div>
      <div class="form-check form-check-inline form-check-orange">
        <input class="form-check-input" type="radio" name="Cameralightradio" id="CameraRedColor" value="Red">
        <label class="form-check-label" for="CameraRedColor">Red color</label>
      </div>
      <div class="form-check form-check-inline form-check-orange">
        <input class="form-check-input" type="radio" name="Cameralightradio" id="CameraBlueColor" value="Blue">
        <label class="form-check-label" for="CameraBlueColor">Blue color</label>
      </div>
      <div class="form-check form-check-inline form-check-orange">
        <input class="form-check-input" type="radio" name="Cameralightradio" id="CameraWhiteColor" value="White">
        <label class="form-check-label" for="CameraWhiteColor">White color</label>
      </div>
      <div class="form-check form-check-inline form-check-orange">
        <input class="form-check-input" type="radio" name="Cameralightradio" id="CameraIRColor" value="IR">
        <label class="form-check-label" for="CameraIRColor">IR color</label>
      </div>
    </div>
  </div>

  <div class="form-check form-switch form-switch-md">
    <input class="form-check-input" type="checkbox" name="Barlight1" id="Barlight1" data-bs-toggle="collapse" href="#collapseBarlight1Light" aria-expanded="false" value="on">
    <label class="form-check-label" for="Barlight1">Lightbar 1</label>
  </div>
  <div class="collapse" id="collapseBarlight1Light">
    <div>
      <div class="form-check form-check-inline form-check-orange">
        <input class="form-check-input" type="radio" name="Barlight1lightradio" id="Barlight1RedColor" value="Red">
        <label class="form-check-label" for="Barlight1RedColor">Red color</label>
      </div>
      <div class="form-check form-check-inline form-check-orange">
        <input class="form-check-input" type="radio" name="Barlight1lightradio" id="Barlight1BlueColor" value="Blue">
        <label class="form-check-label" for="Barlight1BlueColor">Blue color</label>
      </div>
      <div class="form-check form-check-inline form-check-orange">
        <input class="form-check-input" type="radio" name="Barlight1lightradio" id="Barlight1WhiteColor" value="White">
        <label class="form-check-label" for="Barlight1WhiteColor">White color</label>
      </div>
      <div class="form-check form-check-inline form-check-orange">
        <input class="form-check-input" type="radio" name="Barlight1lightradio" id="Barlight1IRColor" value="IR">
        <label class="form-check-label" for="Barlight1IRColor">IR color</label>
      </div>
    </div>
  </div>

  <div class="form-check form-switch form-switch-md">
    <input class="form-check-input" type="checkbox" id="Barlight2" data-bs-toggle="collapse" href="#collapseBarlight2Light" aria-expanded="false">
    <label class="form-check-label" for="Barlight2">Lightbar 2</label>
  </div>
  <div class="collapse" id="collapseBarlight2Light">
    <div>
      <div class="form-check form-check-inline form-check-orange">
        <input class="form-check-input" type="radio" name="Barlight2lightradio" id="Barlight2RedColor" value="Red">
        <label class="form-check-label" for="Barlight2RedColor">Red color</label>
      </div>
      <div class="form-check form-check-inline form-check-orange">
        <input class="form-check-input" type="radio" name="Barlight2lightradio" id="Barlight2BlueColor" value="Blue">
        <label class="form-check-label" for="Barlight2BlueColor">Blue color</label>
      </div>
      <div class="form-check form-check-inline form-check-orange">
        <input class="form-check-input" type="radio" name="Barlight2lightradio" id="Barlight2WhiteColor" value="White">
        <label class="form-check-label" for="Barlight2WhiteColor">White color</label>
      </div>
      <div class="form-check form-check-inline form-check-orange">
        <input class="form-check-input" type="radio" name="Barlight2lightradio" id="Barlight2IRColor" value="IR">
        <label class="form-check-label" for="Barlight2IRColor">IR color</label>
      </div>
    </div>
  </div>

  <div class="form-check form-switch form-switch-md">
    <input class="form-check-input" type="checkbox" name = "Backlight" id="Backlight" data-bs-toggle="collapse" href="#collapseBacklight" aria-expanded="false">
    <label class="form-check-label" for="Backlight">Backlight</label>
  </div>
  <div class="collapse" id="collapseBacklight">
    <div>
      <div class="form-check form-check-inline form-check-orange">
        <input class="form-check-input" type="radio" name="Backlightlightradio" id="BacklightRedColor" value="Red">
        <label class="form-check-label" for="BacklightRedColor">Red color</label>
      </div>
      <div class="form-check form-check-inline form-check-orange">
        <input class="form-check-input" type="radio" name="Backlightlightradio" id="BacklightBlueColor" value="Blue">
        <label class="form-check-label" for="BacklightBlueColor">Blue color</label>
      </div>
      <div class="form-check form-check-inline form-check-orange">
        <input class="form-check-input" type="radio" name="Backlightlightradio" id="BacklightWhiteColor" value="White">
        <label class="form-check-label" for="BacklightWhiteColor">White color</label>
      </div>
      <div class="form-check form-check-inline form-check-orange">
        <input class="form-check-input" type="radio" name="Backlightlightradio" id="BacklightIRColor" value="IR">
        <label class="form-check-label" for="BacklightIRColor">IR color</label>
      </div>
    </div>
    <!--<div class="form-check form-check-inline form-check-orange">
      <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="BacklightFlashSegment1" value="option1">
      <label class="form-check-label" for="BacklightFlashSegment1">Flash Segment 1</label>
    </div>
    <div class="form-check form-check-inline form-check-orange">
      <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="BacklightFlashSegment2" value="option2">
      <label class="form-check-label" for="BacklightFlashSegment2">Flash Segment 2</label>
    </div>
    <div class="form-check form-check-inline form-check-orange">
      <input class="form-check-input" type="checkbox" name="WhiteColorRadio" id="BacklightFlashSegment3" value="option1">
      <label class="form-check-label" for="BacklightFlashSegment3">Flash Segment 3</label>
    </div>
    <div class="form-check form-check-inline form-check-orange">
      <input class="form-check-input" type="checkbox" name="IRColorRadio" id="BacklightFlashSegment4" value="option2">
      <label class="form-check-label" for="BacklightFlashSegment4">Flash Segment 4</label>
    </div>-->
  </div>

  <div class="form-check form-switch form-switch-md">
    <input class="form-check-input" type="checkbox" name="IRFilter" id="IRFilter" value="on" >
    <label class="form-check-label" for="IRFilter">IR Filter</label>
  </div>
  <form>
      <div class="form-group">
        <label for="formObjectWidth">Object width</label>
        <input type="text" class="form-control" name="formObjectWidth" id="formObjectWidth" placeholder="Width">
      </div>
      <div class="form-group">
        <label for="formObjectLength">Object Length</label>
        <input type="text" class="form-control" name="formObjectLength" id="formObjectLength" placeholder="Length">
      </div>
      <div class="form-group">
        <label for="formObjectHeight">Object Height</label>
        <input type="text" class="form-control" name="formObjectHeight" id="formObjectHeight" placeholder="Height">
      </div>
      <div class="form-group">
        <label for="formImgAmount">Image amount</label>
        <input type="text" class="form-control" name = "formImgAmount" id="formImgAmount" placeholder="Image amount">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<div class="row">
    <div class="main">
        <form action="" method=post>
            <!--<script type="text/javascript" src="{{url_for('static', filename = 'js/buttonRequest.js')}}"></script>-->
            <!-- Slider -->
            <!--<div>
                <input type="range" id="volume" name="volume" class="rangeinput slider"
                       min="0" max="20" value={{value}}>
            </div>
            <label for="distance" class="rangeinput">Distance = <span id="slider_value3"></span> (mm)</label>-->
            <!-- Update slider value with new value-->
            <!--<script type="text/javascript" src="{{url_for('static', filename = 'js/slider.js')}}"></script>-->
            <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
            <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
        <!--<script src="{{url_for('static', filename = 'js/test.js')}}"></script>-->
        <script>
          $('button').click(function(event){
          $.ajax({
              data : {
                  name : $(this).prop("name"),
                  camera : $('input[name="Cameralight"]:checked').val(),
                  cameraradio : $('input[name="Cameralightradio"]:checked').val(),
                  barlight1 : $('input[name="Barlight1"]:checked').val(),
                  barlight1radio : $('input[name="Barlight1lightradio"]:checked').val(),
                  backlight : $('input[name="Backlight"]:checked').val(),
                  backlightradio : $('input[name="Backlightlightradio"]:checked').val(),
                  irfilter : $('input[name="IRFilter"]:checked').val(),
                  obj_width : $('input[name="formObjectWidth"]').val(),
                  obj_length : $('input[name="formObjectLength"]').val(),
                  obj_height : $('input[name="formObjectHeight"]').val(),
                  img_amount : $('input[name="formImgAmount"]').val()
              },
              type : 'POST',
              url : '/process'
          })
          .done(function(data){
              if (data.output){
                   $('#successAlert').text(data.output).show();
                   $('#errorAlert').hide();
              }
          });
          event.preventDefault();
          });
          </script>  
      </form>
    </div>
</div>
{% endblock %}